html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

 
}
.brighttheme-error{
  margin-left: auto;
  
  
}
div[data-pnotify] .brighttheme-container{
padding: 0;
padding-bottom: 10px;
}

ul {
  list-style: none;
}
